@media (max-width: 768px) {
    .cont-music{
        flex-direction: column;
        align-items: center;
    }
}


.cont-music{
    display: flex;
    background-color: #141414;
}

.content-cont{
    height: 95vh;
    width: 100%;
}
.content{
    display: flex;
    align-items: center;
    width: 77%;
}