@media (max-width: 1231px) {
    .cont-content-trackList{
        height: 740px !important;
    }
}

@media (max-width: 990px) {
    .cont-content-trackList{
        height: 1000px !important;
    }
}

@media (max-width: 768px) {
    .cont-content-trackList{
        height: 2000px !important;
    }
}




.cont-content{
    margin: 20px;
    border-radius: 25px;
    background-color:#111111;
    width: 100%;
    padding: 80px;
    overflow-y: scroll;
    height: 73vh;
    box-shadow: inset 0px 0px 20px 20px rgb(12, 12, 12);
}

.cont-content-trackList{
    width:100%;
    height: calc(100% + 10px);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;

}
.cont-content-title{
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    color:aliceblue;
    font-weight: 200;
    margin-bottom: 20px;
}
::-webkit-scrollbar {
    width: 0;
  }

.cont-content-news{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: flex-start;
    align-items: center;
}

.image-placeholder{
    width: 400px;
    height: 200px;
}