.happines-cont{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    /* background: linear-gradient(45deg, rgba(255,231,41,1) 0%, rgba(255,90,9,1) 100%); */
    background-color: black;
    border-radius: 15px;
    color: aliceblue;
    position: relative;
}

.happines-cont-title{
    position: absolute;
    overflow-wrap: break-word;
    font-size: 2.5rem;
    top: 10%;
    left: 0;
    text-align: center;
}

/* .happines-cont::after{
    content: "YOU HAPPY ON 23%";
    text-align: center;
    font-size: 35px;
    letter-spacing: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0px;
    left:-1px;
    background-color: #030303;
    border: 1px solid #030303;
    width: 100%;
    height: 90%;
    border-radius: 15px 15px 0 0;
    clip-path: polygon(50% 0%, 100% 0, 100% 80%, 75% 89%, 17% 78%, 0 89%, 0 0);
    
} */



.q{
    background-color: pink;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .svg{
    width: 100%;
    border-radius: 15px;
  }
  
  .q2{
    width: 100px;
    height: 250px;
    background-color: grey;
  }
  .anim1{
    animation:flow ease-in-out infinite 4s;
    
  }

  .anim{
    fill: rgb(255, 169, 9);
  }
  
  .anim2{
    animation-duration: 4.2s;
    fill: rgb(255, 189, 9);
  }
  
  .anim3{
    animation-duration: 4.4s;
    fill: rgba(255,231,41,1);
  }
  
  @keyframes flow{
    from{
      transform: translateX(-150px);
    }
    50%{
      transform: translateX(0px);
    }
    to{
      transform: translateX(-150px);
    }
  }