.cont-home-playbar{
    border-radius: 30px;
    background-color: black;
    height: 100%;
    width: 33vw;
    min-width: 300px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.cont-home-playbarlabel{
    position: absolute;
    top: calc(100% - 11vh);
    width: 100vw;
    height: 10vh;
    left: 0;
    display: flex;
    justify-content: center;

}