.cont-home-playbar{
    border-radius: 30px;
    background-color: black;
    height: 70px;
    width: 70vw;
    min-width: 300px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: fixed;
    display: none;
}
.cont-home-playbar::before{
    bottom: 10px;
    position: absolute;
    content: " ";
    width: 60vw;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    z-index: 3;
}

.cont-home-playbarlabel{
    position: absolute;
    top: calc(100% - 11vh);
    width: 100vw;
    height: 10vh;
    left: 0;
    display: flex;
    justify-content: center;

}